<ion-view catch-view="false" view-title="Show" name="Show-view">
  <ion-content class="content has-header">
     <div class="list card">
        <div class="show">
            <h2>{{pro.name}}</h2>
            <p>{{pro.age}}</p>
            <p>{{pro.gender}}</p>
            <p>{{pro.city}}</p>
            <p>{{pro.state}}</p>
        </div>  
        <div class="item item-image">
         <img src="img/ionic.png" style="width:50%">
        </div>
        <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-music-note"></i>
          India
        </a->  
     </div>
  </ion-content>
</ion-view>
